<template>
    <li class="question-card">
        <section class="question-card_body">
            <h2 class="question-card_question">{{ question.question }}</h2>
            <b-col class="text-center m-5" align-v="center">
                <b-button class="m-1">{{ question.correct_answer }}</b-button>
                <b-button class="m-1">{{ question.incorrect_answers[0] }}</b-button>
                <b-button class="m-1">{{ question.incorrect_answers[1] }}</b-button>
                <b-button class="m-1">{{ question.incorrect_answers[2] }}</b-button>
            </b-col>
            
        </section>
    </li>
</template>


<script>
export default {
    name:"QuestionCard",
    props: {
        question: {
            type: Object,
        },
    },
};
</script>

<style scoped>
.question-card {
    --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    border-radius: .25rem;
    overflow: hidden;
}

.question-card_body {
    padding: 1rem;
}

.question-card_question {
}
</style>