<template>
    <main>
        <h1 class="text-center m-5">Thank you for playing Trivia</h1>

        <h3 class="text-center m-5">Score: 6/9</h3>

     
            <b-col class="text-center" align-v="center">
                <!--Button to go back to start -->
                <b-button @click="btnBackToStart" class="m-5"  type="submit" variant="outline-primary" size="lg">Back to start </b-button>

                <!--Button to replay -->
                <b-button @click="btnReplay" class="m-5"  type="submit" variant="outline-primary" size="lg">Replay</b-button>

            </b-col>
    </main>
</template>

<script>

export default {
    name: "ResultScreen",
    methods: {
        btnBackToStart() {
            this.$router.push('/')
        },
        btnReplay() {
            this.$router.push('/question')
        }
    }
}

</script>