<template>
  <main>
    <h1 class="text-center m-5">Trivia Game</h1>
    <b-container class="bv-example-row">
      <form @submit.prevent="onGetTriviaSubmit">
        <b-row>
          <b-col>
            <fieldset class="m-5">
              <label for="category" class="form-label">Select Category:</label>
              <select class="form-select" v-model="selectedCategory">
                  <option value="">-- Select category --</option>
                <option v-for="category of categories" :value="category" :key="category.id">
                  {{ category.name }}
                </option>
              </select>
            </fieldset>
          </b-col>

          <b-col>
            <fieldset class="m-5">
              <label for="NumQuestions" class="form-label"
                >Number of Questions</label
              >
              <select class="form-select" v-model="selectedNumQuestions">
                  <option value="">-- Select number of questions --</option>
                <option v-for="question of questions" :key="question">
                  {{ question }}
                </option>
              </select>
            </fieldset>
          </b-col>

          <b-col>
            <fieldset class="m-5">
              <label for="difficulty" class="form-label">Select Difficulty</label>
              <select class="form-select" v-model="selectedDifficulty">
                  <option value="">-- Select difficulty --</option>
                <option v-for="difficulty of difficulties" :key="difficulty">
                  {{ difficulty }}
                </option>
              </select>
            </fieldset>
          </b-col>
        </b-row>

        <b-row class="m-5 text-center" align-v="center">
          <b-col>
            <b-button type="submit" variant="outline-primary" size="lg"
              >START</b-button
            >
          </b-col>
        </b-row>
      </form>
      <section class="alert alert-danger" v-if="error">
          <h4>Wait a minute..</h4>
          <p class="mb-0">{{ error }}</p>
      </section>
    </b-container>
  </main>
</template>

<script>
import { setConfig } from "@/utils/config";

export default {
    name: "StartScreen",
    methods: {
        onGetTriviaSubmit() {
            //Showing an error if the user forgot to select something
            this.error = "";            
            if (!this.selectedCategory) {
                this.error = "You forgot to select a category!";
                return;
            }
            if (!this.selectedNumQuestions) {
                this.error = "You forgot to select number of questions!";
                return;
            }
            if (!this.selectedDifficulty) {
                this.error = "You forgot to select difficulty!";
                return;
            }

            //User have selected everything:
            setConfig({
                category: this.selectedCategory,
                questions: this.selectedNumQuestions,
                difficulty: this.selectedDifficulty
            });
            //Redirecting
            this.$router.push('/question')


        },
    },
    data() {
        return {
            error: "",
            selectedCategory: "",
            selectedNumQuestions: "",
            selectedDifficulty: "",
            categories: [
                {
                    id: "9",
                    name: "General Knowledge",
                },
                {
                    id: "17",
                    name: "Science & Nature",
                },
                {
                    id: "21",
                    name: "Sports",
                },
                {
                    id: "22",
                    name: "Geography",
                },
                {
                    id:"23",
                    name: "History",
                },
                {
                    id: "24",
                    name: "Politics",
                },
                {
                    id:"27",
                    name: "Animals",
                },
                {
                    id:"28",
                    name: "Vehicles",
                },
                {
                    id:"26",
                    name: "Celebrities",
                }
            ],
            questions: [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9",
                "10",
            ],
            difficulties: [
                "easy",
                "medium",
                "hard"
            ]
        }
    }

};
</script>